{% extends "base.html" %}

{% block content %}
<div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Teams</h1>
          </div>
        </div>
        <div class="row">
          {% for k, v in items.iteritems %}
          <div class="col-md-4">
            <div class="panel {{v.label}}">
              <div class="panel-heading">
                <h3 class="panel-title">{{ k }} </h3>
              </div>
              <div class="panel-body">
                <p><span class="badge">{{ v.pending }}</span> Pending</p>
                <p><span class="badge">{{ v.outstanding }}</span> Outstanding</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
{% endblock content %}
