{% extends "base.html" %}

{% block content %}
<h1>Home</h1>
<div class="section">
      <div ng-app="" class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>...insert status here...</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Department To-Do List</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <table class="table">
              <tr>
                <td>Task List ID</td>
                <td>Task List Item ID</td>
                <td>Task ID</td>
                <td>Task Description</td>
                <td>Assigned To</td>
                <td>Urgency</td>
                <td>Time Due</td>
                <td>Complete</td>                
              </tr>
              {% for tasklist_item in all_tasklist_items %}
                  <tr id="{{ tasklist_item.tasklistitem_id }}">
                    <td>{{ tasklist_item.tasklist_id }}</td>
                    <td>{{ tasklist_item.tasklistitem_id }}</td>
                    <td>{{ tasklist_item.task_id }}</td>
                    <td>{{ tasklist_item.task_desc }}</td>
                    <td>{{ tasklist_item.assigned_role }}</td>
                    <td>{{ tasklist_item.urgency }}</td>
                    <td>{{ tasklist_item.time_due }}</td>
                    <td><button class="btn-success task-checkbox"><span class="glyphicon glyphicon-ok"></span></button></td>
                  </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
