{% extends "base.html" %}

{% block content %}
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>{{user}}&#39;s Tasks</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <table class="table">
              <thead>
              <tr>
                <th>Task Description</th>
                <th>Time Due</th>
                <th>Action</th>
              </tr>
              </thead>
              {% for tasks in my_tasks_items|dictsort:"time_due" %}
                  {% if tasks.time_active <= tasks.time_now %}
                  <tr id="{{ tasks.tasklistitem_id }}" class="{{tasks.status}}">
                    <td>{{ tasks.task_desc }}</td>
                    <td>{{ tasks.time_due }}</td>
                    <td><button class="btn btn-default task-checkbox" id="complete"><span class="glyphicon glyphicon-ok"></span></button>
                        <button class="btn btn-default task-checkbox" id="not-completed"><span class="glyphicon glyphicon-remove"></span></button>
                        <button class="btn btn-default task-checkbox" id="pending"><span class="glyphicon glyphicon-pushpin"></span></button>
                    </td>
                  </tr>
                  {% endif %}
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
