{% extends "base.html" %}

{% block content %}
<h1>My Tasks</h1>
<div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>...insert status here...</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>My To-Do List</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <table class="table">
              <thead>
              <tr>
                <th>Task ID</th>
                <th>>Task List ID</th>
                <th>Task List Item ID</th>
                <th>Task Description</th>
                <th>Urgency</th>
                <th>Time Due</th>
                <th>Complete</th>
              </tr>
              </thead>
              {% for tasks in my_tasks_items %}
                  <tr id="{{ tasklist_item.tasklistitem_id }}">
                    <td>{{ tasks.task_id }}</td>
                    <td>{{ tasks.tasklist_id }}</td>
                    <td>{{ tasks.tasklistitem_id }}</td>
                    <td>{{ tasks.task_desc }}</td>
                    <td>{{ tasks.urgency }}</td>
                    <td>{{ tasks.time_due }}</td>
                    <td><button class="btn-success task-checkbox"><span class="glyphicon glyphicon-ok"></span></button></td>
                  </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
