{% load staticfiles %}
<html>
  <body>
    <audio controls autoplay></audio>
    <script type="text/javascript" src="{% static 'js/recorder.js' %}"> </script>
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <input onclick="startRecording()" type="button" value="start recording" />
    <input onclick="stopRecording()" type="button" value="stop recording and play" />

    <script>
      var onFail = function(e) {
        console.log('Rejected!', e);
      };

      var onSuccess = function(s) {
        var context = new AudioContext();
        var mediaStreamSource = context.createMediaStreamSource(s);
        recorder = new Recorder(mediaStreamSource);
        recorder.record();

        // audio loopback
        // mediaStreamSource.connect(context.destination);
      }

      window.URL = window.URL || window.webkitURL;
      navigator.getUserMedia  = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;

      var recorder;
      var audio = document.querySelector('audio');

      function startRecording() {
        if (navigator.getUserMedia) {
          navigator.getUserMedia({audio: true}, onSuccess, onFail);
        } else {
          console.log('navigator.getUserMedia not present');
        }
      }

      function stopRecording() {
        recorder.stop();
        recorder.exportWAV(function(s) {
        var url = window.URL.createObjectURL(s);
        audio.src = url;
        var request = new XMLHttpRequest();
        request.open("GET",url,true);
        request.responseType = 'blob';
        var blob;
        request.onload = function() {
            blob = request.response;
            var formData = new FormData();
            formData.append('audio',blob);
            console.log(blob);
              $.ajax({
                type: 'POST'
                , beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', "{{csrf_token}}");
                 }
                , url: 'https://vsu.website/doppler/upload_doppler/'
                , data: formData
                , processData: false
                , contentType: false
                , dataType: 'json'
                , cache: false
              });
         }
         request.send();
         });
      }
    </script>
  </body>
</html>
